/* -- Universal Styles -- */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
}

h2,
h3 {
    color: #093145;
}

fieldset {
    border: none;
}

/* -- Header -- */

.banner h1 {
    text-transform: uppercase;
    color: white;
    font-size: 1.5rem;
}

.banner {
    background-color: #093145;
    padding: 10px;
    text-align: center;
    margin: auto;
}

.secondary-banner {
    max-width: 90%;
    text-align: center;
    margin: auto;
}

.secondary-banner h2 {
    margin: 40px 0 20px;
}

.secondary-banner p {
    color: rgba(128, 128, 128, 0.75);
    margin-bottom: 3.5rem;
}

.border-top {
    height: 5px;
    background-color: #093145;
    max-width: 90%;
    text-align: center;
    margin: auto;
}

.border-bottom {
    height: 2px;
    background-color: #093145;
    max-width: 90%;
    text-align: center;
    margin-top: 3px;
}

/* -- Contact Information -- */ 

.main-form,
.newsletter {
    width: 90%;
    margin: auto;
    display: -webkit-flex;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
}

.main-form h2 {
    padding-bottom: 1rem;
}

#other {
    margin-top: .5rem;
}

.newsletter-format {
    padding-bottom: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
#city {
  border: none;
  margin: 10px 0 20px;
  padding: 15px; 
  background-color: rgba(128, 128, 128, .1);
  border-radius: 5px;
  width: 100%;
  color: rgb(128, 128, 128);
}

label,
p {
    color: rgb(128, 128, 128);
}

input[placeholder="required"] {
    font-style: italic;
    text-align: end;
}

input[type="text"]:focus,
input[type="email"]:focus {
    text-align: start;
    font-style: normal;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
#city:focus {
    background-color: aliceblue;
    border-bottom: 3px solid olivedrab;
    transition: 1s;
    box-shadow: 0px 4px 9px rgba(0,0,0,.4);
    outline: none;
}

/* -- Newsletter -- */ 

input[type="checkbox"],
input[type="radio"] {
  background: rgba(255, 255, 255, 0.445);
  border: none;
  margin: 10px 0 20px;
  padding: 15px; 
  background-color: rgba(128, 128, 128, .1);
  border-radius: 5px;
}

.newsletter {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.newsletter-checkbox {
    background-color: oldlace;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.4);
}

.newsletter-format {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 2rem;
    box-shadow: 0px 1px 5px rgba(0,0,0,.4);
}

.checkbox-label,
.subscriptions {
    padding-left: .85rem;
}

button {
    padding: 20px 40px;
    color: white;
    background-color: #52bab3;
    width: 100%;
    border: 1px solid #52bab3;
    border-radius: 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,.4);
}

 .sign-up {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.submit-btn {
    margin: 2rem 0;
}

.sign-up p {
    margin: 10px 0 280px;
    color: rgba(128, 128, 128, .75)
}

.row {
    display: flex;
    flex-direction: column;
}

#zip-input {
    width: 45%;
}

.zip-label {
    width: 20%;
}

/* -- Media Query -- */ 

@media (min-width: 768px) {
    
    .main-form,
    .newsletter {
        width: 65%;
        margin: auto;
    }

    .border-top,
    .border-bottom {
        max-width: 65%;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
    }

    .row label:not(.zip-label) {
        width: 25%;
        margin: 0;
    }

    #zip-input {
        width: 35%;
    }

    .zip-label {
        width: 20%;
    }

}



